<style>
    .jumbotron {
        color: white;
        background: url('{{rating.restaurant.photo}}') no-repeat center center fixed;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .rating-star-group > .checked {
        color: orange;
    }

    .rating-datetime {
        font-size: small;
    }

    .add-rating-btn {
        position: absolute;
        right: 0;
        border-radius: 100%;
        z-index: 2;
        top: 235px;
    }

    @media (max-width: 576px) {
        .add-rating-btn {
            top: 171px;
        }
    }
</style>

<div class="jumbotron jumbotron-fluid" ng-if="!!rating.restaurant">
    <div class="container">
        <div class="bg-img"></div>
        <h1 class="display-4" ng-bind="rating.restaurant.name"></h1>
    </div>
</div>

<button type="button" class="btn btn-primary add-rating-btn" ng-if="!!rating.restaurant" ng-click="rating.addRating()">
    <i class="fas fa-plus"></i>
</button>

<ul class="list-group" ng-if="rating.restaurant.ratings.length > 0">
    <li class="list-group-item" ng-repeat="rating in rating.restaurant.ratings">
        <div class="rating-star-group">
            <span class="fa fa-star" ng-class="{'checked': rating.rating > 0}"></span>
            <span class="fa fa-star" ng-class="{'checked': rating.rating > 1}"></span>
            <span class="fa fa-star" ng-class="{'checked': rating.rating > 2}"></span>
            <span class="fa fa-star" ng-class="{'checked': rating.rating > 3}"></span>
            <span class="fa fa-star" ng-class="{'checked': rating.rating > 4}"></span>
        </div>
        <span ng-bind="rating.userName"></span>
        <span ng-bind="rating.text"></span>
        <div class="rating-datetime" ng-bind="rating.datetime"></div>
    </li>
</ul>

<div ng-if="!!rating.restaurant && !rating.restaurant.ratings.length">
    <p>Not found rating yet.</p>
</div>

<div class="loading" ng-if="!rating.restaurant">
    <i class="fas fa-sync fa-spin fa-3x"></i>
</div>
